<!-- 관리자 페이지 기본 형식 -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>POS 시스템</title>
    <link rel="stylesheet" href="/src/public/resources/styles.css" />
    
    <script src="/src/routes/dash.mjs"></script> 
  </head>
  <body>
    <div class="container">
      <div class="sidebar">
        <button class="menu-btn" onclick="navigateTo(this, 'booth.html')">
          부스 생성
        </button>
        <button
          class="menu-btn"
          onclick="navigateTo(this, 'tableManagement.html')"
        >
          테이블 관리
        </button>
        <button
          class="menu-btn"
          onclick="navigateTo(this, 'boothManagement.html')"
        >
          부스 관리
        </button>
        <button
          class="menu-btn"
          onclick="navigateTo(this, 'menuManagement.html')"
        >
          메뉴 관리
        </button>
        <button
          class="menu-btn"
          onclick="navigateTo(this, 'orderHistory.html')"
        >
          주문 내역
        </button>
        <button class="menu-btn" onclick="navigateTo(this, 'orderRecord.html')">
          주문기록 확인
        </button>
        <button class="menu-btn" onclick="navigateTo(this, 'tableQR.html')">
          테이블 QR
        </button>
        <button class="menu-btn" onclick="navigateTo(this, 'popup.html')">
          팝업 전용창
        </button>
        <button class="menu-btn" onclick="navigateTo(this, 'payment.html')">
          결제
        </button>
      </div>
    </div>

    <script>
      function navigateTo(button, page) {
        // 모든 버튼에서 active 클래스 제거
        document.querySelectorAll(".menu-btn").forEach((btn) => {
          btn.classList.remove("active");
        });

        // 클릭된 버튼에 active 클래스 추가
        button.classList.add("active");

        // 페이지 이동
        window.location.href = page;
      }
    </script>
  </body>
</html>
