.order-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.order-cell {
  background-color: #FF643C;
  border-radius: 10px;
  padding: 20px;
  width: 300px;
  height: 200px;
  box-sizing: border-box;
}

.order-cell h2 {
  font-size: 24px;
}

.order-cell .order-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.order-cell .order-buttons button {
  background-color: #ff643c;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  font-size: 16px;
}

.order-cell .order-buttons button.complete {
  background-color: #4caf50;
}

.order-cell .order-buttons button.cancelled {
  background-color: #777;
}