/* 주문기록 확인 스타일 */
.main-content {
  width: 100%;
  max-width: 60rem;
  display: flex;
}


.history-table {
  /*width: 1000px;*/
  width: 100%;
  /* 셀 간의 경계선 합치기! */
  border-collapse: collapse;
  margin-top: 20px;
}

.history-table th,
.history-table td {
  border: 1px solid #d9d9d9; /* 셀 경계선 */
  padding: 10px;
  text-align: center;
}

.history-table th {
  background-color: #ffffff;
  color: #333;
}

.history-table tbody tr:nth-child(even) {
  /* 짝수 행(even)의 배경색을 #ffeee9로 설정 */
  /* nth-child(even)은 css의 의사 클래스 선택자: 짝수번째 child를 선택 */
  background-color: #ffeee9;
}
