.order-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.order-cell {
  background-color: #ff643c;
  border-radius: 20px;
  padding: 20px;
  width: 280px;
  height: 187px;
}

.order-cell h2 {
  font-size: 22px;
}

.order-cell .order-buttons {
  display: flex;
  justify-content: space-between; /* 공간 만들기 */
  margin-top: 10px;
}

/* 주문취소 버튼 */
.order-cell .order-buttons .cancel-button {
  background-color: white;
  color: black;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  font-size: 16px;
}

/* 주문확인 버튼 */
.order-cell .order-buttons .confirm-button {
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  font-size: 16px;
}

/* 주문확인 완료 시 바뀌는 버튼 (= 처리완료 버튼) */
.order-cell .order-buttons button.complete {
  background-color: #acacac;
}

/* 주문취소 완료 시 바뀌는 버튼 */
.order-cell .order-buttons button.cancelled {
  background-color: #828282;
}
