#menu-index {
    width: 100%;
    max-width: 60rem;
    min-width: 15rem;
  }
  
  .set-profile {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 1rem;
  }
  .set-profile > .inputs {
    width: calc(100% - 7rem);
  }
  .set-profile > .profile {
    display: flex;
    flex-direction: column;
    width: 45%;
    /*max-width: 13.7rem;*/
  }

  .profile > .image {
    display: flex;
    width: 97%;
    aspect-ratio: 1 / 1;
    /*height: 13rem;*/
    border-radius: 0.75rem;
    background-color: rgb(240, 240, 240);
  }

.profile > label {
  line-height: 1.25rem;
  font-size: 0.8rem;
  font-weight: 600;
}

  .set-right {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
  }

  .set-description {
    display: flex;
    gap: 1rem;
  }
  .set-description > *:nth-child(1) {
    flex: 1;
  }
  
  h3 {
    font-size: 1.25rem;
    padding-bottom: 1rem;
  }

  .top {
    top: 0;
    width: calc(100% - 2rem);
    height: 3rem;
    padding-bottom: 25px;
    display: flex;
    align-items: center;
    border-bottom: solid 1px var(--bgl);
  }

  .top > #arrow {
    display: flex;
    color: black;
    background-color: rgb(255, 255, 255);
    border: none;
    padding-right: 5px;
    padding-left: 0px;
    padding-top: 0px;
    padding-bottom: 0px
  }

  .top > .title {
    font-size: 1.25rem;
    font-weight: 700;
  }