#menu-manage {
  width: 100%;
}
.form {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  gap: 1rem;
}
.form > .left {
  flex: 1;
}
.form > .right {
  MAX-width: 14rem;
  width: 40%
}
.form-margin {
  width: 100%;
  height: 5rem;
}
.part-margin {
  width: 100%;
  height: 2.5rem;
}
.set-right {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 1rem;
}
#menu-manage-image {
  position: relative;
  width: 100%;
  aspect-ratio: 1 / 1;
  border-radius: 0.75rem;
  background-color: rgb(240, 240, 240);
  border: solid 0.1rem rgb(210, 210, 210);
}
#menu-manage-image > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.75rem;
  display: block;
}
#menu-manage-image > button {
  position: absolute;
  bottom: -3rem;
  right: 0rem;
}
@media (max-width: 400px) {
  #menu-manage-image > button {
    bottom: -2.5rem;
  }
  .form {
    flex-direction: column-reverse;
    gap: 3rem;
  }
  .form > .right {
    width: 100%;
  }
}