<div class="back">
  <span onclick="window.history.back();" class="material-symbols-outlined">
    arrow_back
  </span>
</div>

<h1>로그인</h1>

<div class="inputs">
  <ho-input-string
    id="input-auth-login-email"
    type="text"
    value=""
    placeholder="이메일"
    label="이메일"
    message=""
  ></ho-input-string>

  <ho-input-string
    id="input-auth-login-password"
    type="password"
    value=""
    placeholder="비밀번호"
    label="비밀번호"
    message=""
  ></ho-input-string>
</div>

<button id="button-auth-login">로그인</button>

<div class="bottom-margin"></div>

<script src="login.mjs" type="module"></script>
