<div class="back">
  <span onclick="window.history.back();" class="material-symbols-outlined">
    arrow_back
  </span>
</div>

<h1>비밀번호 재설정</h1>

<div class="inputs">
  <div class="set">
    <ho-input-string
      id="input-auth-reset-email"
      type="text"
      value=""
      placeholder="이메일"
      label="이메일"
      message=""
    ></ho-input-string>
    <button size="small" id="button-auth-code">인증코드 전송</button>
  </div>

  <ho-input-string
    id="input-auth-reset-code"
    type="text"
    value=""
    placeholder="인증코드"
    label="인증코드"
    message=""
    disabled
  ></ho-input-string>

  <ho-input-string
    id="input-auth-reset-password"
    type="password"
    value=""
    placeholder="비밀번호"
    label="비밀번호"
    message=""
    disabled
  ></ho-input-string>

  <ho-input-string
    id="input-auth-reset-password-retype"
    type="password"
    value=""
    placeholder="비밀번호 재입력"
    label="비밀번호 재입력"
    message=""
    disabled
  ></ho-input-string>
</div>

<button id="button-auth-reset" disabled>비밀번호 재설정</button>

<div class="bottom-margin"></div>

<script src="reset-password.mjs" type="module"></script>
