<div class="top-margin"></div>

<h1>힉오더 시작하기</h1>

<div class="inputs">
  <div class="buttons">
    <a
      href="http://api.ho.ccc.vg:8000/api/auth/google/login/"
      type="button"
      second
    >
      <img src="/resources/dash/google-g-logo.png" />
      Google로 시작하기
    </a>
    <a href="/auth/terms" type="button" second>이메일로 시작하기</a>
  </div>
</div>

<div class="links">
  <hr />
  <div class="content">
    <a href="/auth/login">이메일로 로그인하기</a>
    <a href="/auth/reset-password">비밀번호 재설정</a>
    <a href="mailto:anon@aaa.com">문의하기</a>
  </div>
</div>

<div class="bottom-margin"></div>
