:root {
    --bg: rgb(255, 100, 60);
    --cpl: rgb(163, 163, 163);
    --cncl: rgb(104, 104, 104);
    --le: rgb(255, 255, 255);
    --box-shadow: 0 0 0.5rem 0 rgba(0, 0, 0, 0.3);
    --text-shadow: 0 0.1rem 0.7rem rgba(0, 0, 0, 0.2);
  }

  
#order-index {
    width: 100%;
    max-width: 80rem;
    min-width: 15rem;
    display: flex;
  }

#order-index > .part {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: flex-start;
    /*justify-content: space-evenly;*/
}

#order-index > .part > .order,
#order-index > .part > .order-completed,
#order-index > .part > .order-cancel {
    display: flex;
    max-width: 18rem;
    min-width: 14rem;
    width: 23%;
    height: 11rem;
    border-radius: 15px;
    margin: 0.5rem;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    justify-content: center;
    transition: width 0.3s ease-out;
    box-shadow: var(--box-shadow);
}
#order-index > .part > .order {
    background: var(--bg);
}
#order-index > .part > .order-completed {
    background: var(--cpl);
}
#order-index > .part > .order-cancel {
    background: var(--cncl);
}

@media (max-width: 70rem) {
    #order-index > .part > .order,
    #order-index > .part > .order-completed,
    #order-index > .part > .order-cancel {
        min-width: 14rem;
        width: 30%;
        transition: width 0.3s ease-out;
    }
}
@media (max-width: 45rem) {
    #order-index > .part > .order,
    #order-index > .part > .order-completed,
    #order-index > .part > .order-cancel {
        max-width: 20rem;
        min-width: 14rem;
        width: 45%;
        transition: width 0.3s ease-out;
    }
}
@media (max-width: 25rem) {
    #order-index > .part > .order,
    #order-index > .part > .order-completed,
    #order-index > .part > .order-cancel {
        width: 100%;
    }
}

.state {
    width: 90%;
    display: flex;
    flex-direction: column;
}

.state > .info {
    width: 100%;
    flex-direction: row;
    display: flex;
    padding: 0.5rem;
    padding-top: 0.6rem;
    padding-bottom: 0.8rem;
    color: white;
}

.state > .info > .table {
    width: 50%;
    font-size: 20px;
    font-weight: 700;
    text-shadow: var(--text-shadow);
}

.state > .info > .time {
    width: 50%;
    text-align: right;
}

.state > .quantity {
    width: 100%;
    display: flex;
    padding-bottom: 3.5rem;
    padding-left: 0.5rem;
    color: white;
}

.state > .button {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.state > .button > .set-left {
    width: 50%;
    gap: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.set-left > #button-order-cancel {
    color: black;
    background-color: white;
    height: 2rem;
    width: 90%;
    padding: 0 15%;
    border: none;
    box-shadow: var(--box-shadow);
}

.state > .button > .set-right {
    width: 50%;
    gap: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.set-right > #button-order-complete {
    display: flex;
    padding: 0 15%;
    width: 90%;
    height: 2rem;
    border: none;
    box-shadow: var(--box-shadow);
}