<!DOCTYPE html>
<html>
  <head>
    <script src="/modules/injections.mjs" type="module"></script>

    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no"
    />
    <meta name="format-detection" content="telephone=no" />
    <meta name="theme-color" content="#ff643c" />

    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />

    <link href="/resources/dash/master.css" rel="stylesheet" />
    <link href="/resources/dash/button.css" rel="stylesheet" />
    <script src="/resources/dash/master.mjs" type="module"></script>
    <script src="/components/dash/master.mjs" type="module"></script>

    <link href="index.css" rel="stylesheet" />

    <title>Dashboard</title>
  </head>

  <body>
    <header>
      <div class="left">
        <div class="button" id="button-menu" state="open">
          <div class="line top"></div>
          <div class="line bottom"></div>
        </div>
        <a class="logo" href="/dash">
          <img src="/resources/dash/logo2.svg" />
        </a>
      </div>
      <div class="center"></div>
      <div class="right">
        <div class="account" id="button-account" state="close">
          <div class="info">
            <div class="name">...</div>
          </div>
          <div class="dropdown">
            <div class="button logout" id="button-logout">로그아웃</div>
          </div>
        </div>
      </div>
    </header>

    <wrapper state="open">
      <aside>
        <a href="/dash/booth">
          <div class="icon">
            <span class="material-symbols-outlined"> store </span>
          </div>
          <div class="text">부스 관리</div>
        </a>
        <a href="/dash/menu">
          <div class="icon">
            <span class="material-symbols-outlined"> restaurant_menu </span>
          </div>
          <div class="text">메뉴 관리</div>
        </a>
        <a href="/dash/table">
          <div class="icon">
            <span class="material-symbols-outlined"> table_restaurant </span>
          </div>
          <div class="text">테이블 관리</div>
        </a>
        <a href="/dash/order">
          <div class="icon">
            <span class="material-symbols-outlined"> grid_view </span>
          </div>
          <div class="text">주문 현황</div>
        </a>
        <a href="/dash/history">
          <div class="icon">
            <span class="material-symbols-outlined"> list_alt </span>
          </div>
          <div class="text">주문 기록</div>
        </a>
      </aside>

      <main>
        <section class="title">
          <h1>#{title}</h1>
        </section>
        <section class="content">
          <content>
            <import src="panels/#{panel}.html"></import>
          </content>
        </section>
      </main>
    </wrapper>

    <script src="index.mjs" type="module"></script>
  </body>
</html>
