<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no"
    />
    <meta name="format-detection" content="telephone=no" />
    <meta name="theme-color" content="#ff643c" />

    <link href="/resources/dash/master.css" rel="stylesheet" />
    <link href="/resources/dash/button.css" rel="stylesheet" />
    <script src="/resources/dash/master.mjs" type="module"></script>
    <script src="/components/dash/master.mjs" type="module"></script>

    <link href="index.css" rel="stylesheet" />

    <title>Dashboard</title>
  </head>

  <body>
    <header>
      <div class="left">
        <button id="button-menu">m</button>
        <a href="/dash">
          <p>힉오더</p>
        </a>
      </div>
      <div class="center"></div>
      <div class="right"></div>
    </header>

    <wrapper state="open">
      <aside>
        <a href="/dash/booth" type="button">부스 관리</a>
        <a href="/dash/menu" type="button">메뉴 관리</a>
        <a href="/dash/table" type="button">테이블 관리</a>
        <a href="/dash/order" type="button">주문 현황</a>
      </aside>

      <main>
        <section class="title">
          <h1>#{title}</h1>
        </section>
        <section class="content">
          <content>
            <import src="panels/#{panel}.html"></import>
          </content>
        </section>
      </main>
    </wrapper>

    <script src="index.js" type="module"></script>
  </body>
</html>
