<!DOCTYPE html>
<html>
  <head>
    <link href="/resources/master.css" rel="stylesheet" />
    <link href="/resources/button.css" rel="stylesheet" />
    <script src="/components/master.js" type="module"></script>

    <link href="index.css" rel="stylesheet" />

    <title>Test page</title>
  </head>

  <body>
    <button>일반 버튼</button>

    <button primary>강조 버튼</button>

    <button small>일반 버튼</button>

    <button small primary>강조 버튼</button>

    <h-input-text label="awfawf"></h-input-text>

    <main>
      <import src="panels/#{panel}.html"></import>
    </main>

    <script src="index.js"></script>
  </body>
</html>
