<!DOCTYPE html>
<html>
  <head>
    <title>Test page</title>

    <link rel="stylesheet" href="/resources/button.css" />

    <link rel="stylesheet" href="./index.css" />
  </head>

  <body>
    <script type="module">
      import CustomButton from '/components/custom-button.js';
      import InputText from '/components/input-text.js';
    </script>

    <button>일반 버튼</button>

    <button primary>강조 버튼</button>

    <br />

    <br />

    <button small>일반 버튼</button>

    <button small primary>강조 버튼</button>

    <h-input-text>
      <p>aaaaa</p>
    </h-input-text>
  </body>
</html>
