#table-pay {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}
#table-pay > .display {
  width: 100%;
  height: calc(100% - 2.5rem);
  padding: 0;
  overflow: hidden;
}
#table-pay > .display > .content {
  width: 100%;
  height: calc(100% - 2rem);
  padding: 0;
  overflow-y: auto;
}
#table-pay > .control {
  width: 100%;
  height: 2.5rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 1rem;
}

.info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
.info .count {
  font-size: 1.25rem;
  height: 1.25rem;
  padding-bottom: 0.25rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.info .price {
  height: 2.5rem;
  font-size: 2.5rem;
  font-weight: 700;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: var(--th);
}
.bank {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.75rem;
  border: solid 0.1rem rgb(210, 210, 210);
  font-size: 2rem;
  height: 6rem;
  font-weight: 400;
  margin-bottom: 1rem;
  margin-top: 1rem;
}
.qrs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}
.qr {
  flex: 1;
  max-width: calc((100% - 2rem) / 3);
  border: solid 0.1rem rgb(210, 210, 210);
  border-radius: 0.75rem;
  overflow: hidden;
}
.qr > .title {
  height: 2rem;
  font-size: 0.9rem;
  font-weight: 700;
  border-bottom: solid 0.1rem rgb(210, 210, 210);
  display: flex;
  justify-content: center;
  align-items: center;
}
.qr.toss > .title {
  background: #0064ff;
  color: white;
}
.qr.naver > .title {
  background: #03c75a;
  color: white;
}
.qr.kakao > .title {
  background: #fee500;
  color: #191919;
}
.qr > .image {
  aspect-ratio: 1/1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.qr > .image > img {
  padding: 2rem;
}
