/* tableManagement.css */

/* 테이블 관리 페이지 스타일 */

.table-management {
  margin-top: 20px;
}

.main-content .h2 {
  font-size: 30px;
}

.table-entry {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.table-entry .table-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%; /* 동그라미 */
  margin-right: 10px;
}

.table-entry input {
  width: 200px; /* 고정된 너비 */
  height: 50px; /* 고정된 높이 */
  padding: 5px;
  font-size: 25px;
  border: 1px solid #d9d9d9; /* 경계선 색상 */
  border-radius: 10px; /* radius 설정 */
  margin-right: 10px;
}

.table-entry .delete-btn {
  width: 60px;
  height: 36px;
  background-color: #000000;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.add-btn {
  height: 36px;
  /* width 90으로 하면 글자 줄바꿈됨.. */
  background-color: #000000;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  cursor: pointer;
}
