<!DOCTYPE html>
<html>
  <head>
    <title>회원가입</title>
  </head>
  <body>
    <h3>매우 임시적으로 생긴 회원가입 폼</h3>
    <br />
    <form>
      <input id="auth-register-id" type="text" placeholder="아이디" />
      <br />
      <input id="auth-register-pw" type="password" placeholder="비밀번호" />
      <br />
      <span id="auth-register-message">&nbsp;</span>
    </form>
    <br />
    <button id="button-auth-register">회원가입</button>
    <script type="module">
      import { APIPostRequest } from '/modules/api.mjs';

      const message = document.querySelector('#auth-register-message');

      document
        .querySelector('#button-auth-register')
        .addEventListener('click', () => {
          register();
        });

      async function register() {
        APIPostRequest('auth/sign/', {
          email: document.querySelector('#auth-register-id').value,
          password: document.querySelector('#auth-register-pw').value,
        })
          .then((data) => {
            console.log(data);
          })
          .catch(async (error) => {
            message.innerHTML = `${error.status} ${error.statusText}`;
          });
      }
    </script>
  </body>
</html>
